/* color variables */
:root{
    --icon-color:#2E45CC;
    --money-color:#04DF6C;
    --text-color:#3D3A38;
}

/* Headers: Poppins
Font Size: 16px
Font Weight: 400
Line Height: 1.5 

Body: Montserrat
Font Weight: 400
Line Height: 1.24*/