@import url(../node_modules/@fontsource/montserrat/index.css);
@import url(../node_modules/@fontsource/poppins);
/* color variables */
:root{
    --icon-color:#2E45CC;
    --newsletter-icon-color:#04DF6C;
    --text-color:#3D3A38;
}

/* Headers: Poppins
Font Size: 16px
Font Weight: 400
Line Height: 1.5 

Body: Montserrat
Font Weight: 400
Line Height: 1.24*/


body:not(h1,h2,h3,h4,h5,h6){
font-family: 'Montserrat' ;
font-weight: 400;
line-height: 1.24;  
}

h1,h2,h3,h4,h5,h6{
    color: var(--text-color);
    font-size: 1.5rem;
    /* se metto font-size 16px da cell non funzia  */
    font-family:'Poppins';
    font-weight:400;
    line-height: 1.5;  
}

